* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    /* background-image: url('/bg2.jpg'); */
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    background: radial-gradient(rgb(34, 122, 83),rgb(3,4,4) );
    box-shadow: 0rem 2rem 4rem 1.2rem rgba(0,0,0,0.5);
    width: 90%;
    height: 90vh;

}

/* styling a sticky note*/

#sticky_note {
    position:absolute;
    width: 15rem;
    height: 30%;
    z-index: 9;
    cursor: pointer;
    border-radius: 100px;
}

.top {
    background-color: rgb(224, 131, 213);
}

.fas {
    display:flex;
    justify-content:right;
    font-size: 1.3rem;
    padding: 0.3rem;
}


.note-content{
    background-color: rgb(243, 203, 239);
}

p{
    padding: 10%;
    font-size: 50%;
}

/* add note button */
.addNoteBtn {
    position:fixed;
    bottom: 2rem;
    right: 2rem;
}

button {
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    box-shadow: 0.3rem 0.3rem 0rem rgba(0,0,0,0.3);
    background-color: rgb(190, 204, 233);
    border-style: hidden;
}

button:active {
    transform:translateY(10px);
}
